<h1> Ejemplo Webpay Plus Transacción Mall</h1>

<h3>Parametros recibidos:</h3>
<pre>
    <%= @req %>
</pre>


<h3>Respuesta:</h3>
<pre>
    <%= @resp.inspect %>
</pre>

<form method="post" action=<%= @resp.url %>>
  <input name="token_ws" value=<%= @resp.token %>>

  <button type="submit">Enviar datos</button>
</form>



