<div class="TBK-container">
  <div class="TBK-main-image">
    <%= image_tag "wepayplus.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>
  <h1>Historial de transacciones captura diferida</h1>
  <p>
    Permite visualizar el historial de operaciones ejecutadas sobre una pre-autorización de captura diferida.
  </p>

  <div class="TBK-content-left">
		<div>
			<h3>Petición</h3>
			<p>
        Para visualizar el historial de transacciones necesitaremos el Token. 
        Se hace de la siguiente manera.
      </p>
		</div>
		<%= render "/webpay_plus_mall_deferred/partials/history" %>
	</div>

   <div class="TBK-content-right">
    <%= render "/shared/resp_to_json" %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>
        Transbank contestará con lo siguiente.
      </p>
		</div>
	</div>

  <%= render "/deferred/deferred-options" %>
 
</div>