<div class="TBK-container">
  <div class="TBK-main-image">
    <%= image_tag "wepayplus.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>
  <h1>Reversar Monto Pre-autorizado</h1>
  <p>
    A diferencia del método refund, esta operación actúa sobre los montos pre-autorizados y no sobre los montos ya capturados. 
    Por lo tanto, esta operación permitirá disminuir de manera directa el monto previamente autorizado, tanto de forma parcial (todas las veces que lo necesite), como total. 
    Solo es soportado por tarjetas VISA/MASTERCARD (AMEX retornara un error 'Unsupported Operation').
  </p>

  <div class="TBK-content-left">
		<div>
			<h3>Petición</h3>
			<p>
      Para reversar un monto pre-autorizado de una transacción necesitaremos el Token, Orden de compra, Código de autorización y monto a incrementar. 
      Se hace de la siguiente manera.
      </p>
		</div>
    markdown
		<%#= render "/webpay_plus_mall_deferred/partials/reverse_amount" %>
	</div>

   <div class="TBK-content-right">
   markdown
    <%#= render "/shared/resp_to_json" %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>
        Transbank contestará con lo siguiente. 
        Debes guardar esta información, lo único que debes validar es que response_code sea igual a cero.
      </p>
		</div>
	</div>
  markdown
  <%= render "/deferred/deferred-options" %>

</div>