<div class="TBK-container">
  <div class="TBK-main-image">
    <%= image_tag "oneclick.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>

  <h2>Eliminar inscripción</h2>
  <p>
    En este paso eliminaremos la inscripción.
  </p>

  <div class="TBK-content-left">
    <div>
      <h3>Petición</h3>
      <p>Necesitas el userName (Nombre de Usuario) y el tbkUser y llamar a Oneclick::MallInscription</p>
    </div>
    <%= render_markdown_highlighting("oneclick_mall_deferred/partials/delete-mark1.md") %>
  </div>

  <h2>Respuesta</h2>
  <p>
    En caso de éxito Transbank responderá con un status code 204 (No Content) y el sdk no retornará respuesta. En el caso de no encontrarse el userName o tbkUser Transbank responderá con un status code 404 (Not Found) y el sdk retornara una excepción.
  </p>
  

</div>
