<div class="TBK-container">
  <div class="TBK-main-image">
    <%= image_tag "wepayplus.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>
  <h1>Incrementar Plazo para Capturar Monto</h1>
  <p>
    En este paso podemos aumentar de manera directa el plazo para llevar a cabo la captura de monto previamente autorizado (todas las veces que se necesite). 
    Solo es soportado por tarjetas VISA/MASTERCARD (AMEX retornara un error 'Unsupported Operation').
  </p>

  <div class="TBK-content-left">
		<div>
			<h3>Petición</h3>
			<p>
        Para incrementar el plazo de captura de una transacción necesitaremos el Token, Orden de compra y el Código de autorización. 
        Se hace de la siguiente manera.
      </p>
		</div>
    markdown
		<%#= render "/transaccion_completa_deferred/partials/increase_date" %>
	</div>

   <div class="TBK-content-right">
   markdown
    <%#= render "/shared/resp_to_json" %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>
        Transbank contestará con lo siguiente. 
        Debes guardar esta información, lo único que debes validar es que response_code sea igual a cero.
      </p>
		</div>
	</div>
markdown
  <%= render "/deferred/deferred-options" %>

</div>