<div class="TBK-container">
	<div class="TBK-main-image">
    <%= image_tag "txcompleta.png" , alt: "webpayplus" , class:"adjusted-image" %>
  </div>
  <h2>Confirmar Transacción</h2>
  <p>En este paso tenemos que confirmar la transacción con el objetivo de avisar a Transbank que hemos recibido la transacción ha sido recibida exitosamente. En caso de que no se confirme la transacción, ésta será reversada.</p>

  <div class="TBK-content-left">
		<div>
			<h3>Petición</h3>
			<p>
        Para poder confirmar la transacción debes enviar el token, y en caso de pago en cuotas debes también enviar el ID de la consulta de cuotas. En algunos casos tambien debes enviar el Indice del periodo diferido y un boolean indicando si se tomará el período de gracia.
      </p>
		</div>
		<%= render_markdown_highlighting("transaccion_completa_deferred/partials/commit-mark1.md") %>
	</div>

  <div class="TBK-content-right">
		<%= render_markdown_highlighting("shared/resp_to_json.md") %>
		<div class="item-right">
			<h3>Respuesta</h3>
			<p>Una vez confirmada la transacción recibirás la siguiente información.</p>
		</div>
	</div>

	<h2 class="m-none">Casi listo !</h2>
	<p class="mb-30">Ya puedes mostrar al usuario una página de éxito de la transacción. Debes tener en cuenta que la transacción aun no ha sido capturada solo ha sido retenido el saldo en la tarjeta del Tarjetahabiente. Luego de confirmar la transacción podemos:</p>
	<%= render "/deferred/deferred-options" %>


</div>