//colors
$base-color: #880e4f;
$darken: #c2185b;
$brown: #594a4e;
$cyan: #00acc1;
$gray: #dddddd;
$gray-light: #e0e0e0;
$pink: #e91e63;
$white: #ffffff;
$black: #000000;


//font-size
$font-size: 1em; // 15px
$font-size-s: 1.25em; //18.75
$font-size-sm: 1.75em;
$font-size-m: $font-size * 2; // 30 
$font-size-l: $font-size * 2.25; // 30 


//size
$space: 5px; // 4px
$space-s: $space * 2; // 10px
$space-m: $space * 3; // 15px
$space-l: $space * 4; // 20px
$space-xl: $space * 5; // 25px
$space-xxl: $space * 6; // 30px
$space-large: $space * 7; // 35px
$space-big: $space * 8; // 40px

//breakpoints -> like bootstrap
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;