body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

html {
  line-height: 1.5;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h2 {
  font-size: 30px;
  margin: 1.52rem 0 0.912rem 0;
}

h3 {
  font-size: 26.25px;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}