/* webpay */

.TBK-card {

  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

}

.TBK-content-left,
.TBK-content-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.TBK-table {
  display: flex;
  flex-direction: column;
}


.TBK-table_cell {
  display: grid;
  grid-template-columns: minmax(150px, 192px) 1fr;
  align-items: center;
  column-gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}

.TBK-table_cell .text-head {
  font-weight: 700;
}

.TBK-table_cell .main-text {
  font-weight: 600;
}

@media (max-width: 992px) {
  .TBK-content-left {
    grid-template-columns: minmax(300px, auto);
    row-gap: 30px;
  }

  .TBK-content-right {
    display: grid;
    grid-template-columns: minmax(300px, auto);
    row-gap: 30px;
    grid-auto-flow: dense;
  }

  .item-right {
    grid-row: 1;
  }
}

/* home */

.TBK-info {
  background-color: #00acc1;
  padding: 25px;
  margin-bottom: 35px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;

}

.TBK-info .TBK-info_text {
  color: #ffffff;
  margin: 0;
}

.TBK-operation-link {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  list-style-type: none;
}

.TBK-operation-link_href {
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  color: #c2185b;
  text-decoration: none;
  transition: background-color 0.5s linear;
  cursor: pointer;

}

.TBK-operation-link_href:last-child {
  border-bottom: none;
}

.TBK-operation-link_href:hover {
  background-color: #dddddd;
}

.TBK-section-container {
  display: grid;
  grid-template-columns: 366px 1fr;
  column-gap: 60px;
  align-items: center;
  margin-bottom: 40px;
}

.TBK-section-container-rev {
  display: grid;
  grid-template-columns: 1fr 366px;
  column-gap: 60px;
  align-items: center;
  margin-bottom: 40px;
}

div.code pre {
  background-color: #fff;
}

/* inputs */

.TBK-input {
  width: 100%;
  border-width: 1;
  padding: 0.75rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  margin-bottom: 20px;
  transition: border-color 0.25s linear;

}

.TBK-input:focus {
  border-color: #880e4f;
  outline: none;
}

/* buttons */

.TBK-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 36px;
  padding: 0 16px;
  background-color: #e91e63;
  text-decoration: none;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  transition: box-shadow .3s ease-out;
  transition: filter .2s linear;
  line-height: 0;

  
}

.TBK-button:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.TBK-button:active {
  filter: brightness(0.9);
}

.TBK-button.TBK-button_blank {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/* page */
.TBK-container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 11px;
}

.TBK-main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;

}

.TBK-main-image img {
  height: 100px;
  width: auto;
}

/* nav bar */
.menu {
  display: flex;
  height: 100%;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ffffff;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;

}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-bar {
  display: flex;
  justify-content: center;
  height: 64px;
  margin: auto;
  background-color: #880e4f;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav-image {
  max-height: 30px;
  height: 100%;
  width: auto;
}

.nav-bar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.adjusted-image {
  width: 100%;
  height: auto;
}

.TBK-input-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.TBK-order-rows {
  display: flex;
  column-gap: 20px;
}

@media (max-width: 992px) {
  .TBK-container {
    margin: 0 auto;
    max-width: unset;
    padding: 0 30px;
  }

  .TBK-main-image img{
    height: 75px;
  }

  .TBK-order-rows {
    flex-direction: column;
  }
}

