.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px
}

.mb-20 {
  margin-bottom: 20px;
}

.my-40 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.m-none {
  margin: 0;
}

.j-self-start {
  justify-self: flex-start;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.break-word {
  overflow: hidden;
  overflow-wrap: break-word;
}

.separed {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.aling-s-baseline {
  align-self: baseline;
}