.TBK-card {

  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

}

.TBK-content-left,
.TBK-content-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: $space-xxl;
  align-items: center;
}

.TBK-table {
  display: flex;
  flex-direction: column;
}


.TBK-table_cell {
  display: grid;
  grid-template-columns: minmax(150px, 192px) 1fr;
  align-items: center;
  column-gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .text-head {
    font-weight: 700;
  }

  .main-text {
    font-weight: 600;
  }
}


@media (max-width: $lg) {
  .TBK-content-left {
    grid-template-columns: minmax(300px, auto);
    row-gap: 30px;
  }

  .TBK-content-right {
    display: grid;
    grid-template-columns: minmax(300px, auto);
    row-gap: 30px;
    grid-auto-flow: dense;
  }

  .item-right {
    grid-row: 1;
  }
}



// @media (max-width: $l) {}