<h1>Patpass comercio Inscripción</h1>

<form class="patpass_form" action="/patpass/patpass_comercio/inscription" method="post" style="display: flex; flex-direction:column; width:50%;font-size: 20px;">

  <label for="url">URL</label>
  <input id="url" name="url" value="http://0.0.0.0:3000/patpass/patpass_comercio/inscription/status">

  <label for="name">Nombre</label>
  <input id="name" name="name" value="Pepito">

  <label for="first_last_name">Primer Apellido</label>
  <input id=first_last_name" name="first_last_name" value="Continuum">
  
  <label for="second_last_name">Segundo Apellido</label>
  <input id="second_last_name" name="second_last_name" type="text" value="Perez">
  
  <label for="rut">RUT</label>
  <input id="rut" name="rut" value="11111111-1" type="text">

  <label for="service_id">Id de servicio</label>
  <input name="service_id" name="service_id" value="<%= "1234" + Time.zone.now.to_i.to_s %>" type="text">

  <label for="final_url">URL final</label>
  <input id="final_url" name="final_url" value="http://0.0.0.0:3000/patpass/patpass_comercio/final_url" type="text">

  <label for="max_amount">Monto maximo</label>
  <input id="max_amount" name="max_amount" value="20000" type="text">

  <label for="phone_number">Numero de telefono</label>
  <input id="phone_number" name="phone_number" value="121334567" type="text">

  <label for="mobile_number">Numero celular</label>
  <input id="mobile_number" name="mobile_number" value="121334599" type="text">

  <label for="patpass_name">Nombre Patpass</label>
  <input id="patpass_name" name="patpass_name" value="nombrepatpass" type="text">

  <label for="person_email">Email del cliente</label>
  <input id="person_email" name="person_email" value="info@continuum.cl" type="text">

  <label for="commerce_email">Email del comercio</label>
  <input id="commerce_email" name="commerce_email" value="info@comercio.cl" type="text">

  <label for="address">Direccion</label>
  <input id="address" name="address" value="General Bustamante 24, Oficina N" type="text">

  <label for="city">Ciudad</label>
  <input id="city" name="city" value="Santiago" type="text">

  <button type="submit">Crear Inscripción</button>
</form>